$color-primary: #172133;
$color-grey-light: #eef0f5;
$color-grey: #b0b8c7;
$color-grey-dark: #7b869b;
$color-blue: #3673e9;
$color-blue-light: #a9c2f1;
$color-red: #F91155;
$color-white: #FFFFFF;

$font-size-desktop: 16;

$font-stack: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
