<template functional>
  <svg
    v-bind="data.attrs"
    :class="[$style.svgIcon, data.staticClass, data.class || '']"
    :style="data.style || ''"
    aria-hidden="true"
    v-on="listeners"
  >
    <use :xlink:href="`#icon-${props.icon}`" />
  </svg>
</template>

<style module lang="scss">
.svgIcon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  user-select: none;
}
</style>
