<template>
  <div>
    <search-input :value="$store.state.filter" @input="onSearch" />
    <playlist-item
      v-for="(track, index) in list"
      :track="track"
      :key="index"
      :is-active="isActive(index)"
      :is-playing="isPlaying(index)"
      :is-disabled="isDisabled(index)"
      @click="playTrack(index)"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Track } from '@/typings/player';
import PlaylistItem from '@/components/playlist/item.vue';
import SearchInput from '@/components/playlist/search.vue';

@Component({ components: { PlaylistItem, SearchInput } })
export default class playlist extends Vue {
  get list(): Track[] {
    return this.$store.state.list;
  }

  get filteredList(): Track[] {
    return this.$store.getters.filteredList;
  }

  onSearch(query: string): void {
    this.$store.dispatch('search', query);
  }

  playTrack(index: number): void {
    this.$store.dispatch('playTrack', index);
  }

  isActive(index: number): boolean {
    return index === this.$store.state.activeIndex;
  }

  isPlaying(index: number): boolean {
    return this.isActive(index) && this.$store.state.isPlaying;
  }

  isDisabled(index: number): boolean {
    return !this.filteredList.includes(this.list[index]);
  }
}
</script>

<style module lang="scss">

</style>
