<template>
  <div :class="['track-item', isActive && 'track-item_active', isDisabled && 'track-item_disabled']" @click="$emit('click')">
    <svg-icon class="track-item__button" :icon="playIcon" />
    <div class="track-item__info">
      <div>
        <span>{{ track.author }}</span> - <span>{{ track.title }}</span>
      </div>
      <small>
        {{ track.duration }}
      </small>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Track } from '@/typings/player';

@Component
export default class PlaylistItem extends Vue {
  @Prop({ type: Object, default: null }) track!: Track;
  @Prop({ type: Boolean, default: false }) isActive!: boolean;
  @Prop({ type: Boolean, default: false }) isPlaying!: boolean;
  @Prop({ type: Boolean, default: false }) isDisabled!: boolean;

  get playIcon(): string {
    return this.isPlaying ? 'music-note-animated' : 'play';
  }
}
</script>

<style scoped lang="scss">
.track-item {
  display: flex;
  padding: 0.25rem 0.5rem;
  border: 1px solid $color-grey-dark;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  cursor: pointer;
  transition: background-color 0.2s ease, opacity 0.2s ease;

  &:hover {
    background: $color-grey-light;
  }

  &_active {
    background: $color-blue-light;
  }

  &_disabled {
    opacity: 0.25;
  }

  &__button {
    margin-right: 0.5rem;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 2.25rem;
    width: 100%;
  }
}
</style>
