<template>
  <input
    class="input"
    :value="value"
    placeholder="Enter search query..."
    tabindex="0"
    type="search"
    @input="$emit('input', $event.target.value)"
  >
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class SearchInput extends Vue {
  @Prop({ type: String, default: '' }) value!: string;
}
</script>

<style scoped lang="scss">
.input {
  width: 100%;
  height: 1.75rem;
  border-radius: 0.25rem;
  border: 1px solid $color-grey-dark;
  transition: outline-color 0.1s ease, outline-width 0.1s ease;

  &:focus {
    //outline: none !important;
    //border: 2px solid $color-blue;
    outline: 2px solid $color-blue;
  }
}
</style>
