<template>
  <div class="progress" ref="progress" @mousemove="onMouseMove" @mouseout="onMouseOut" @click="onClick">
    <div :class="`progress__wrapper progress__wrapper_${theme}`">
      <div class="progress__bar progress__bar_hovered" :style="{ width: hoverPosition }" />
      <div class="progress__bar" :style="{ width: getProgress() }" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ProgressBar extends Vue {
  @Prop({ type: Number, default: 1 }) total!: number;
  @Prop({ type: Number, default: 0 }) progress!: number;
  @Prop({ type: String, default: 'normal' }) theme!: 'normal' | 'small';

  hoverPosition = '0%';

  onMouseMove(evt: Event): void {
    const pos = this.getMouseRelativePosition(evt as MouseEvent);
    this.hoverPosition = String(pos.absolute).concat('px');
  }

  onMouseOut(): void {
    this.hoverPosition = '0';
  }

  onClick(evt: Event): void {
    const pos = this.getMouseRelativePosition(evt as MouseEvent);
    this.$emit('change', pos.relative * this.total);
  }

  getMouseRelativePosition(evt: MouseEvent): { absolute: number; relative: number } {
    const target = evt.currentTarget as HTMLElement;
    const rect = target.getBoundingClientRect();
    const pos = evt.clientX - rect.left;

    return {
      absolute: pos,
      relative: pos / rect.width
    };
  }

  getProgress(): string {
    const { progress, total } = this;
    return String(progress / total * 100).concat('%');
  }
}
</script>

<style scoped lang="scss">
.progress {
  display: block;
  position: relative;
  padding: 0.5rem 0;
  width: 100%;
  cursor: pointer;

  &__wrapper {
    position: relative;
    background: $color-grey;

    &_normal {
      height: 8px;
    }

    &_small {
      height: 4px;
    }
  }

  &__bar {
    transition: width 0.2s linear;
    background: $color-blue;
    height: 100%;
    position: absolute;

    &_hovered {
      transition: none;
      background: $color-grey-dark;
      left: 0;
    }
  }
}
</style>
