<template functional>
  <div :class="`tag tag_${props.theme}`">
    <slot />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class UiTag extends Vue {
  @Prop({ type: String, default: 'primary' }) theme!: 'primary';
}
</script>

<style scoped lang="scss">
.tag {
  font-size: 0.76rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s ease;

  &_primary {
    color: $color-white;
    background: $color-blue;

    &:hover {
      background: rgba($color-blue, 0.85);
    }
  }
}
</style>
