<template>
  <div class="controls">
    <svg-icon class="controls__button" icon="step-backward" @click="handleClickPrev" />
    <svg-icon class="controls__button controls__button_large" :icon="playIcon" @click="handleClickPlay" />
    <svg-icon class="controls__button" icon="step-forward" @click="handleClickNext" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Controls extends Vue {
  @Prop({ type: Boolean, default: false }) isPlaying!: boolean;

  get playIcon(): string {
    return this.isPlaying ? 'pause' : 'play';
  }

  handleClickPrev(): void {
    this.$emit('prev');
  }

  handleClickNext(): void {
    this.$emit('next');
  }

  handleClickPlay(): void {
    this.isPlaying
      ? this.$emit('pause')
      : this.$emit('play');
  }
}
</script>

<style scoped lang="scss">
.controls {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    font-size: 2rem;
    cursor: pointer;
    padding: 0 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    &_large {
      font-size: 3rem;
    }
  }
}
</style>
