<template>
  <div class="player">
    <controls
      :is-playing="$store.state.isPlaying"
      @play="playTrack"
      @pause="pauseTrack"
      @next="nextTrack" @prev="prevTrack"
    />
    <div class="player__right">
      <track-info :track="track" />
      <track-progress :total="duration" :progress="currentTime" @change="updateProgress">
        <volume-control :value="volume" @input="setVolume" @mute="mute" @unmute="unmute" />
      </track-progress>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { player } from '@/services/AudioPlayer/plugin';
import Controls from './controls.vue';
import TrackProgress from './progress.vue';
import TrackInfo from './info.vue';
import VolumeControl from './volume.vue';
import { Track } from '@/typings/player';

@Component({
  components: { Controls, TrackProgress, TrackInfo, VolumeControl }
})
export default class MusicPlayer extends Vue {
  @Prop({ type: Object, default: null }) track!: Track | null;

  currentTime = 0;
  duration = 0;
  volume = player.volume;

  created(): void {
    player.on('loadedmetadata', this.onLoadedMeta);
    player.on('timeupdate', this.onTimeUpdate);
    player.on('play', this.onPlay);
    player.on('pause', this.onPause);
  }

  beforeDestroy(): void {
    player.off('loadedmetadata', this.onLoadedMeta);
    player.off('timeupdate', this.onTimeUpdate);
    player.off('play', this.onPlay);
    player.off('pause', this.onPause);
  }

  onLoadedMeta(): void {
    this.duration = player.duration;
  }

  onTimeUpdate(currentTime: number): void {
    this.currentTime = currentTime;
  }

  onPlay(): void {
    this.setIsPlaying(true);
  }

  onPause(): void {
    this.setIsPlaying(false);
  }

  updateProgress(progress: number): void {
    player.setProgress(progress);
  }

  playTrack(): void {
    player.play(this.track?.media);
  }

  pauseTrack(): void {
    player.pause();
  }

  nextTrack(): void {
    this.$store.dispatch('next');
  }

  prevTrack(): void {
    this.$store.dispatch('prev');
  }

  setIsPlaying(isPlaying: boolean): void {
    this.$store.commit('SET_IS_PLAYING', isPlaying);
  }

  setVolume(volume: number): void {
    player.setVolume(volume);
    this.volume = volume;
  }

  mute(): void {
    player.mute();
    this.volume = 0;
  }

  unmute(): void {
    player.unmute();
    this.volume = player.volume;
  }
}
</script>

<style scoped lang="scss">
.player {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__right {
    flex: 1;
    margin-left: 1rem;
  }
}
</style>
