<template>
  <div class="track-info">
    <div class="track-info__common">
      <b>{{ track.author }}</b> - <span>{{ track.title }}</span>
    </div>
    <a v-if="track.link" class="track-info__buy-link" :href="track.link" target="_blank" tabindex="-1">
      <ui-tag>Buy</ui-tag>
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Track } from '@/typings/player';
import UiTag from '@/components/common/tag.vue';

@Component({ components: { UiTag } })
export default class TrackInfo extends Vue {
  @Prop({ type: Object, default: null }) track!: Track;
}
</script>

<style scoped lang="scss">
.track-info {
  display: flex;

  &__common {
    display: flex;
    flex-wrap: wrap;
  }

  &__buy-link {
    margin: 0 0.5rem 0.5rem;
  }
}
</style>
