<template>
  <div class="progress">
    <progress-bar :total="total" :progress="progress" @change="$emit('change', $event)" />
    <div class="progress__container">
      <div v-if="total">{{ progress | formatSeconds }} / {{ total | formatSeconds }}</div>
      <div v-else>&nbsp;</div>
      <div class="progress__slot">
        <slot />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ProgressBar from '@/components/common/progress.vue';
import { formatSeconds } from '@/utils/date';

@Component({
  components: { ProgressBar },
  filters: { formatSeconds }
})
export default class TrackProgress extends Vue {
  @Prop({ type: Number, default: 0 }) total!: number;
  @Prop({ type: Number, default: 0 }) progress!: number;
}
</script>

<style scoped lang="scss">
.progress {
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__slot {
    width: 8rem;
  }
}
</style>
