<template>
  <div class="volume">
    <svg-icon class="volume__icon" :icon="getVolumeIcon()" @click="toggleVolume" />
    <progress-bar :progress="value" theme="small" @change="$emit('input', $event)" />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ProgressBar from '@/components/common/progress.vue';

@Component({ components: { ProgressBar } })
export default class VolumeControl extends Vue {
  @Prop({ type: Number, default: 1 }) value!: number;

  getVolumeIcon(): string {
    if (this.value === 0) return 'volume-off';
    if (this.value < 0.5) return 'volume-low';

    return 'volume-high';
  }

  toggleVolume(): void {
    if (this.value !== 0) this.$emit('mute');
    else this.$emit('unmute');
  }
}
</script>

<style scoped lang="scss">
.volume {
  display: flex;

  &__icon {
    margin-right: 0.75rem;
    cursor: pointer;
  }
}
</style>
