<template>
  <div id="app" class="container">
    <music-player :track="$store.getters['activeTrack']" />
    <playlist />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AudioPlaylist from '@/assets/json/playlist.json';
import MusicPlayer from './components/player/index.vue';
import Playlist from './components/playlist/index.vue';

@Component({
  components: {
    MusicPlayer,
    Playlist
  }
})
export default class App extends Vue {
  created(): void {
    this.$store.commit('SET_LIST', AudioPlaylist.tracks);
  }
}
</script>

<style scoped lang="scss">
.container {
  max-width: 640px;
  margin: 0 auto;
}
</style>
